@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer utilities {
  .padding {
    @apply py-28 sm:py-28 md:px-10 px-5;
  }
  /* HTML: <div class="loader"></div> */
  .loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #000000 95%, #0000) 50% 1px/12px
        12px no-repeat,
      radial-gradient(farthest-side, #0000 calc(100% - 14px), #ccc 0);
    animation: l9 2s infinite linear;
  }
  @keyframes l9 {
    to {
      transform: rotate(1turn);
    }
  }

  .input {
    @apply focus:ring-0 focus:ring-offset-0 focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .mask-clip-path-1 {
    clip-path: polygon(31% 15%, 32% 28%, 21% 44%, 20% 27%);
  }
  .mask-clip-path-2 {
    clip-path: polygon(36% 40%, 49% 48%, 45% 58%, 28% 49%);
  }
  .mask-clip-path-3 {
    clip-path: polygon(85% 32%, 85% 45%, 71% 55%, 69% 37%);
  }
  .mask-clip-path-car {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* CSS for toggle theme button */
.switch,
.switch__input {
  display: block;
  -webkit-tap-highlight-color: transparent;
  font-size: 1.654rem;
  --hue: 223;
  --primary: hsl(var(--hue), 90%, 50%);
  --trans-dur: 0.6s;
  --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
}
.switch {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}
.switch__icon {
  color: hsla(var(--hue), 10%, 80%);
  pointer-events: none;
  position: absolute;
  top: 0.375em;
  left: 0.375em;
  width: 0.75em;
  height: 0.75em;
  transition: color var(--trans-dur),
    transform var(--trans-dur) var(--trans-timing);
}
.switch__icon:nth-of-type(2) {
  right: 0.375em;
  left: auto;
}
.switch__inner,
.switch__inner-icons {
  border-radius: 0.5em;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  width: 2.25em;
  height: 1em;
}
.switch__inner:before,
.switch__inner-icons {
  transition: transform var(--trans-dur) var(--trans-timing);
  transform: translateX(-1.25em);
}
.switch__inner:before {
  background-color: var(--primary);
  border-radius: inherit;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}
.switch__inner-icons {
  pointer-events: none;
}
.switch__inner-icons .switch__icon {
  color: hsl(0, 0%, 100%);
  top: 0.125em;
  left: 0.125em;
  transform: translateX(1.25em);
}
.switch__inner-icons .switch__icon:nth-child(2) {
  right: 0.125em;
  left: auto;
}
.switch__input {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.75em;
  box-shadow: 0 0 0 0.0625em hsla(var(--hue), 90%, 50%, 0),
    0 0.125em 0.5em hsla(var(--hue), 10%, 10%, 0.1);
  outline: transparent;
  width: 2.75em;
  height: 1.5em;
  -webkit-appearance: none;
  appearance: none;
  transition: background-color var(--trans-dur), box-shadow var(--trans-dur);
}
.switch__input:checked {
  background-color: hsl(var(--hue), 10%, 10%);
}
.switch__input:checked ~ .switch__icon {
  color: hsla(var(--hue), 10%, 40%);
}
.switch__input:checked ~ .switch__inner:before,
.switch__input:checked ~ .switch__inner-icons {
  transform: translateX(1.25em);
}
.switch__input:not(:checked) ~ .switch__icon:first-of-type,
.switch__input:checked ~ .switch__icon:nth-of-type(2) {
  transform: rotate(360deg);
}
.switch__input:checked ~ .switch__inner-icons .switch__icon:first-of-type {
  transform: translateX(-1.25em) rotate(-360deg);
}
.switch__input:checked ~ .switch__inner-icons .switch__icon:nth-of-type(2) {
  transform: translateX(-1.25em) rotate(360deg);
}
.switch__input:focus-visible {
  box-shadow: 0 0 0 0.0625em hsla(var(--hue), 90%, 50%, 1),
    0 0.125em 0.5em hsla(var(--hue), 10%, 10%, 0.1);
}
.switch__sr {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}
/* ===================================================== */

/* For section CSS */
section {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;
  will-change: transform;
}
section:nth-child(2) {
  display: block !important;
}
section .outer,
section .inner {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  will-change: transform;
}

/* For horizontal loop */
.horizontalItem {
  width: max(20vw, 200px);
}
